<!DOCTYPE html>
<html>
	<head>
		<title><%= conf.title %>: Add a location</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="css/uedb.css" />

		 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="js/map.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li><a href="/"><i class="fa fa-home"></i></a></li>
					<li class="active"><a href="/add"><i class="fa fa-edit"></i></a></li>
				</ul>
				<h3 class="text-muted"><%= conf.title %></h3>
			</div>

			<input id="pac-input" class="controls" type="text" placeholder="Search Box">
			<div id="ldbmap"></div>
			<br />

			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#mark" data-toggle="pill"><i class="fa fa-fw fa-map-marker"></i> Mark</i></a></li>
					<li><a href="#upload" data-toggle="pill"><i class="fa fa-fw fa-upload"></i> Import</i></a></li>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="tab-content">
					<div class="tab-pane active" id="mark">
						<form method="post" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="inputName" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" name="inputName" class="form-control" id="inputName" placeholder="Location Name">
								</div>
							</div>
							<div class="form-group">
								<label for="inputCoordinates" class="col-sm-2 control-label">Coordinates</label>
								<div class="col-sm-10">
									<input type="text" name="inputCoordinates" class="form-control" id="inputCoordinates" placeholder="(Latitude, Longitude)">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="upload">
						<h4>Import a .kml or .gpx file</h4>
						<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
							<div class="form-group">
								<label for="inputFile" class="col-sm-2 control-label">File</label>
								<div class="col-sm-10">
									<input type="file" name="inputFile" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default">Upload</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>